*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    position: fixed;
    margin-left: 85%;
    
    
    
}
  
li {
    float: right;
    padding-left: 30px;
    margin-top: 40px;
    margin-right: 10px;

}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    background-color: white;
    border-radius: 50%;
    
}

.full-red{
    background-color: red;
    position: relative;
    height: 100vh;
    
}

.full-green{
    background-color: green;
    position: relative;
    height: 100vh;
}

.full-yellow{
    background-color: yellow;
    position: relative;
    height: 100vh;
}

.immagini{
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.testo1{
    position: absolute;
    top: 75%;
    right: 34%;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;

}    

.testo2{
    position: absolute;
    top: 80%;
    right: 43%;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellow;

}  

.testo3{
    position: absolute;
    top: 75%;
    right: 34%;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;

}    

.testo4{
    position: absolute;
    top: 80%;
    right: 43%;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;

}  
